
.game-panel {
    background-size: cover;
    background-image:url('zomming-away.gif');
    width: 100%;
    height: 100%;
}

body{
    margin: 0px;
}

.intro-panel{
    /* background: #808080b8; */
    padding:20px;
}

.person {
    position: fixed;
    bottom: 0px;
    left:calc(50vw)
}

.character-option {
    display:inline-block;
    max-height: 200px;
    border:1px solid white;
}
.character-option:hover {
    border:1px solid grey;
}